html,body{background:#fff url(../images/image2.jpg); }
.top-menu {
  margin: 0 530px;
  margin-top: 3%;
  position: relative;
  }
a { 
  text-decoration: none; }
li {float:left; 
   margin-right:50px;}
a {color: #fff}
a:hover {color: #FFF; text-decoration: underline;}
a { font-family: sans-serif;
	font-size: 15px;}
